.all-row-todo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.checkbox-and-text {
  display: flex;
  flex-direction: row;
}
.crossed-text {
  text-decoration: line-through;
}
